.galerie_box{
	width: 80%;
	margin-left: 10%;
	background-color: blanchedalmond;
	padding: 2px;
	height: auto;
}
.galerie_titel{
	background-color: brown;
}
/* Hier sind die Bilder drin */
.galerie_bilder{

	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-content: flex-start;
	background-color: coral;
}
.galerie_bilder a{
	border-radius: 10px 10px 0 0;
	text-decoration: none;
	/* padding: 2px; */
	width: 350px;
	margin:20px 10px 0;
	background-color: green;
}

.galerie_bilder a div{
	border-radius: 10px 10px 0 0;
	width: 100%;
	height: 335px;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	
}
.galerie_bilder a h3{
	text-decoration: none;
	color: black;
	font-size: 25px;
	font-family: roboto_B;
}
.galerie_bilder a p{
	text-decoration: none;
	color: black;
	font-size: 15px;
	font-family: roboto_L;
}
.galerie_upload{
	margin-top: 15px;
	background-color: cornflowerblue;
	display: flex;
	justify-content: center;
}

.progress-bar{
height: 35px;
width: 250px;
border: 2px solid orangered;
}
.progress-bar-fill{
	height: 100%;
	width: 0%;
	background-color: palegreen;
	display: flex;
	align-items: center;
	transition: width 0.25s;
}

.progress-bar-text{
	color: black;
	margin-left: 10px;
	font-weight: bold;
}

.Galerie-Container{
    width: 100%;
    height: auto;
    display: flex;
    background-color: sandybrown;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}

.Bild-Container{
    /* min-width: 150px; */
    height: 200px;
    background-color: cornsilk;
    margin: 5px;
}
.Bild-Container img{
    max-height: 200px;  
}
.Bild{
    max-width: 850px;
    height: 90%; 
}
.Titel{
    z-index: -1;
    width: 100%;
    display: none;
}
.Löschen{
	width: 15px;
	z-index: 5;
    height: 15px;
    position: absolute;
    margin-top: 5px;
    margin-left: 5px;
    background-image: url("../Bilder/SVG/fail.svg");
    background-position: center;
    background-repeat: no-repeat;
    display: none;
}

#vollbild{
   background-color: black;
    position: absolute;
    top: 10px;
    display: block;
  
    width: 80%;
    display: none;
}
#vollbild img{
    
    max-width: 100%;
}

