.galerie-kopf{
    display: flex;
    flex-flow: row;
    height: 100px;
    /* background-color: thistle; */
    align-items: center;
	justify-content: center;
	font-family: roboto_B;
}
.galerie-statistik{
    display: flex;
    flex-flow: row;
    align-items: center;
    height: 25px;
    /* width: 120px; */
    margin-right: 50px;
}
.galerie-statistik-svg{
    width: 25px;
	height: 25px;
	
    background-image: url("/Bilder/SVG/statistics.svg");
    background-position: center;
    background-repeat: no-repeat;

}
.galerie-statistik-text{
    margin-left: 10px;
}
.galerie-wechseln{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 25px;
    border: 1px solid rgb(129, 129, 129);
    border-radius: 10px;
}
.galerie-wechseln:hover{
	background-color: rgba(179, 179, 179, 0.5);
	border: 1px solid rgba(179, 179, 179, 0.5);
}
.galerie-wechseln a{
    text-decoration: none;
    font-family: roboto_B;
    color: rgb(129, 129, 129);
}
.galerie-suche{
    margin-left: 50px;
    display: flex;
    flex-flow: row;
    align-items: center;
    width: 350px;
    height: 50px;
    border: 1px solid rgb(129, 129, 129);
    border-radius: 10px;
}
.galerie-suche-svg{
    margin-left: 10px;
    width: 25px;
    height: 25px;
    background-image: url("/Bilder/SVG/vergrößern.svg");
    background-position: center;
    background-repeat: no-repeat;
}
.galerie-suche-suche{
    margin-left: 15px;
}
.galerie-upload,.galerie-album{
    display: flex;
    flex-flow: column;
    align-items: center;
    height: 25px;
    width: 125px; 
    margin-left: 50px;
   
    /* background-color: royalblue; */
}
.galerie-upload-butten, .galerie-album-butten{
    display: flex;
    flex-flow: row;
    align-items: center;
    height: 25px;
    width: 125px; 
}
.galerie-upload-butten:hover, .galerie-album-butten:hover{
    cursor: pointer;
    color: white;
}
.galerie-upload-svg{
    width: 25px;
    height: 25px;
    background-image: url("/Bilder/SVG/bild.svg");
    background-position: center;
    background-repeat: no-repeat;
}
.galerie-upload-upload,.galerie-album-upload{
    display: none;
    z-index: 2;
	margin-top: 15px;
	width: 253px;
    margin-left: 100%;
    background-color: rgb(102, 102, 102);
}


#uploadForm{
    display: flex;
    flex-flow: column;
}
.progress-bar{
    height: 25px;
    width: 90%;
    margin-left: 5%;
    margin-top: 10px;
    border: 2px solid orangered;
    border-radius: 10px;
}
.progress-bar-fill{
    height: 100%;
    width: 0%;
    border-radius: 8px;
    background-color: palegreen;
    display: flex;
    align-items: center;
    transition: width 0.25s;
}
.progress-bar-text{
    color: black;
    margin-left: 10px;
    font-weight: bold;
}
.progress-bar-fortschritt{
    font-family: roboto_B;
    margin-top: 10px;
    margin-left: 5%;
}
.progress-bar-geschw{
    font-family: roboto_B;
    margin-left: 5%;
}
.galerie-upload-text,.galerie-album-text{
    margin-left: 5px;
}
.galerie-album-svg{
    width: 25px;
    height: 25px;
    background-image: url("/Bilder/SVG/album.svg");
    background-position: center;
    background-repeat: no-repeat;
}

.gallery {
	display: grid;
	justify-self: center;
	align-self: center;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    grid-auto-rows: 230px;
    gap: 10px;
    grid-auto-flow: dense;
}

.gallery figure {
    border: 1px solid #ccc;
	position: relative;	
	margin: 0;   /* figure hat sonst einen browsereigenen Abstand! */
  
}
.gallery figure.normal {
    grid-column-end: span 2;
}

.gallery figure.landscape {
    grid-column-end: span 3;
}
.gallery figure.panorama {
    grid-column-end: span 5;
}

.gallery figure img {
   display: block;
   object-fit: cover;
   width: 100%;
   height: 100%;
}
#vollBild-Box{
    display: none;  
    position: fixed;
    top: 0px;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    background-color: black;
    /* opacity: 80%; */
}
.vollBild{
    /* opacity: 100%; */
    z-index: 2;
    /* display: none;   */
    /* background-color: red; */
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    
}
.vollBildMenue{
    display: flex;
    flex-flow: row;
    /* background-color: whitesmoke; */
}
.vollBildSchließen{
    /* position: absolute; */
    width: 50px;
    height: 50px;
    border-radius: 50%;
    /* background-color: wheat; */
    background-image: url("../Bilder/SVG/fail.svg");
    background-size: 150%;
    background-position: center;
    background-repeat: no-repeat;
    margin-left: auto;
    margin-right: 0px; 
}
.vollBildSchließen:hover{
    cursor: pointer;
}
.infoVollBild{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    /* background-color: wheat; */
    background-image: url("../Bilder/SVG/info.svg");
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    margin-left: 0px;
    margin-right: auto; 
}
.menue-zoom{
    background-image: url("../Bilder/SVG/vergrößern.svg");
    background-size: 70%;
    background-position: center;
    background-repeat: no-repeat;
}
.menue-löschen{
    background-image: url("../Bilder/SVG/löschen.svg");
    background-size: 70%;
    background-position: center;
    background-repeat: no-repeat;
}
.infoVollBild:hover{
    cursor: pointer;
}
#infoSideBar{
    
    flex-flow: column;
    position: absolute;
    display: none;
    width: 20%;
    height: 100%;
    background-color: red;
}
.infoSideBar-menue{
    display: flex;
    flex-flow: row;
    background-color: whitesmoke;
    margin-bottom: 10px;

}
.infoSideBar-infos{
    display: flex;
    flex-flow: column;
}
.infoBox{
    display: flex;
    flex-flow: row;
    background-color: violet;
    height: 50px;
    margin-bottom: 5px;
}
.infoBox-svg{
    background-color: thistle;
    width: 50px;
}
.date{
    background-image: url("../Bilder/SVG/calendar.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 70%;
}
.details{
    background-image: url("../Bilder/SVG/bild.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 70%;
}
.album{
    background-image: url("../Bilder/SVG/album.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 70%;
}
.uploader{
    background-image: url("../Bilder/SVG/user.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 70%;
}
.infoBox-infos{
    display: flex;
    align-items: center;
    background-color: tomato;
}
.next{
    background-color: white;
    border-radius: 50%;
    width:50px;
    height: 50px;
    background-image: url("../Bilder/SVG/next.svg");
    background-repeat: no-repeat;
    background-size: 100%;
    /* background-position: center; */
    background-position-x: +3px;
    margin-left: 15px;
}
.next:hover{
    cursor: pointer;
}
.previous{
    background-color: white;
    border-radius: 50%;
    width:50px;
    height: 50px;
    background-image: url("../Bilder/SVG/previous.svg");
    background-repeat: no-repeat;
    background-size: 100%;
    /* background-position: left; */
    background-position-x: -3px;
    margin-right: 15px;
}
.previous:hover{
    cursor: pointer;
}
@media screen and (max-width:900px){ 
    .galerie-suche{
        width: 50px;
    }
    .galerie-suche-suche{
        display: none;
    } 
}
@media screen and (max-width:550px){ 
    .galerie-album-text{
        display: none;
    }
    .galerie-upload{
       width: 25px;
    }
    .galerie-album{
        margin-left: 30px;
        width: 25px;
     }
    .galerie-upload-text{
        display: none;
    }
   
   
}


