body{
    background-color: red;
}
.Galerie-Container{
    width: 100%;
    height: auto;
    display: flex;
    background-color: sandybrown;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}

.Bild-Container{
    /* min-width: 150px; */
    height: 200px;
    background-color: cornsilk;
    margin: 5px;
}
.Bild-Container img{
    max-height: 200px;  
}
.Bild{
    max-width: 850px;
    height: 90%; 
}
.Titel{
    z-index: -1;
    width: 100%;
    display: none;
}
.Löschen{
    width: 15px;
    height: 15px;
    position: absolute;
    margin-top: 5px;
    margin-left: 5px;
    background-image: url("../Bilder/SVG/fail.svg");
    background-position: center;
    background-repeat: no-repeat;
    display: none;
}

#vollbild{
   background-color: black;
    position: absolute;
    top: 10px;
    display: block;
  
    width: 100%;
    display: none;
}
#vollbild img{
    margin-left: 2.5%;
    max-width: 95%;
}

@font-face{
    font-family: roboto_L;
    src:url("../Roboto/Roboto-Light.ttf");
  }
  @font-face{
    font-family: roboto_B;
    src:url("../Roboto/Roboto-Bold.ttf");
  }
  
  .joinus_box{
    display: flex;
    justify-content: center;
    align-content: center;
    background-color: none;
  }
  
  /* Box */
.mantel{
    display: flex;
    flex-flow: row;
    width: 500px;
    background-color: chartreuse;
}
    .eins{
    width: 50px;
    background-color: black;
    margin: 1px;
}