@font-face{
  font-family: roboto_L;
  src:url("../Roboto/Roboto-Light.ttf");
}
@font-face{
  font-family: roboto_B;
  src:url("../Roboto/Roboto-Bold.ttf");
}
#sidebar{
  position: fixed; 
  width: 190px;
  height: 100%;
  background: #151719;
  left: -200px;
  top: 0px;
  transition: all 200ms linear;
  z-index: 100; /*Höherer index überdeckt niederen*/
}

#sidebar.active{
  left:0px;
}
  
#sidebar ul li{

  margin-left: -25px;
  margin-right: 10px;
  color: rgba(230,230,230,0.9);
  list-style: none;
  padding: 15px 10px;
  border-bottom: 1px solid rgba(100,100,100,0.3);
}

#sidebar .toggle-btn{
  position: absolute;
  left: 230px;
  top: 20px;
  width:30px;
  height: 40px;
}
  
#sidebar .toggle-btn span{
  display: block;
  width: 30px;
  height: 4px;
  background:white;
  margin: 7px 0px;
}

#sidebar ul li a{
  color: white;
  text-decoration: none;
  font-family: roboto_B;
}

img.sb_bild {
  display: inline-block;
  width: 190px;
  color:blue;
  /* opacity: 1.0; */
}

#sidebarButten{
  display: flex;
  justify-items: center;
  justify-content: center;
  width: 70px;
  height: 20px;
  margin-bottom: -50px;
  margin-left: 25px;
  border: 1px solid white;
  border-radius: 5px;
} 

#sidebarButten a{
  color: white;
  text-decoration: none;
  font-family: roboto_B;
}


#sidebarButten:hover{
  border: 1px solid red;
} 

#sidebarButten a:hover{
  color: red;
}