@font-face{
  font-family: roboto_L;
  src:url("../Roboto/Roboto-Light.ttf");
}
@font-face{
  font-family: roboto_B;
  src:url("../Roboto/Roboto-Bold.ttf");
}

.beschreibung{
 display: block;
  width: 80%;
  margin-left: 10%;
  font-family: roboto_L;

  margin-bottom: 25px;
}