.index_box{
    display: block;
    width: 80%;
    /* background-color: whitesmoke; */
    margin-left: 10%;
    padding: 5px;
    height: auto;
}
.index_begrüsung{
    /* background-color: rgb(255, 153, 0); */
    height: auto;
}
.index_begrüsung p{
    margin-bottom: 5px;
    font-family: roboto_L;
    color: rgb(170, 170, 170);;
}
.index_begrüsung a{
    text-decoration: none;
    text-decoration-line: underline;
    color: rgb(170, 170, 170);;
    font-family: roboto_B;
}
.index-termine{
    display: flex;
    flex-flow: row;
    /* background-color: rgb(53, 53, 53); */
    margin-top: 50px;
}

/* News Überschrift */
h1.news {
    font-family: roboto_B;
    font-size: 30px;
    padding-bottom: 15px;
    text-align: left;
    text-transform: uppercase;
    text-rendering: optimizeLegibility;
    color: #055494;
    /* background-color: #2d2d2d; */
    letter-spacing: 0.1em;
    text-shadow: -1px -1px 1px rgb(0, 0, 0), 2px 2px 1px #363636;
}

/* News  */
.index-news{
    /* background-color: darkolivegreen; */
    width: 100%;
    margin-right: 10px;
}
.news-header{
    display: flex;
    flex-flow: row;
}


/* Statistik */
.news-statistik{
    display: flex;
    flex-flow: row;
    align-items: center;
    margin-top: 10px;
    margin-left: 15px;
    margin-right: auto;
    width: auto;
    height: 30px;
    /* background-color: yellow; */
}
.news-statistik svg{
    fill:  rgb(170, 170, 170);
    width: 20px;
}
.stats{
    display: flex;
    flex-flow: row;
    align-items: center;
    padding-left: 2px;
    padding-right: 5px;
}
.stats p{
    margin-left: 2px;
    color: rgb(170, 170, 170);
    font-family: roboto_B;
}
.stats-date svg{
    margin-top: 2px;
    width: 25px;
}
.stats-views svg{
    margin-top: 4px;
    width: 30px;
}
/* Ende Statsitik */

/* Aktuelleser beitrag */
.news-container{
    display: flex;
    flex-flow: row;
    width: 100%;
}
.news-bild{
    /* background-color: rgb(116, 113, 100); */
    background-image: url("../Bilder/News/Vorschaubilder/Logo.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 200px;
    width: 300px;
}
.news-text{
    display: flex;
    flex-flow: column;
    width: 100%; 
    padding-left: 5px;
}
.news-text-überschrift{
    font-family: roboto_B;
    color: rgb(170, 170, 170);;
}
.news-text-text{
    max-height: 150px;
    overflow: hidden;
    color: rgb(170, 170, 170);;
}
.news-text-text p{
    font-family: roboto_L;
    margin-top: 5px;
}
.news-kompletterBeitrag{
    margin-bottom: 0px;
    margin-top: auto;
}
.news-kompletterBeitrag a{
    text-decoration: none;
    color: rgb(170, 170, 170);
    font-family: roboto_B;
}
.index-events{
    /* wird alles von style_event geregelt */
}


/*Sponsoren*/
.index-sponsoren{
    width: 100%;
    height: auto;
    /* background-color: black; */
    display: flex;
    flex-flow: row;
}
.index-sponsoren a{
    text-decoration: none;
    color: rgb(170, 170, 170);
    font-family: roboto_B;

}
.Sponsor-Box{
    padding: 5px;
    width: 50%;
    height: auto;
  
}
.Softairstore{
    /* background-color: rgb(46, 26, 0); */
    border-radius: 10px;
    margin-right: 5px;
}
.sponsoren{
    margin-top: 75px; 
    font-family: roboto_B;
    font-size: 30px;
    padding-bottom: 15px;
    text-align: center;
    text-transform: uppercase;
    text-rendering: optimizeLegibility;
    color: rgba(233, 162, 32, 0.795);
    letter-spacing: 0.1em;
    text-shadow: -2px -2px 2px rgb(0, 0, 0), 2px 2px 2px #363636; 
}
.sponsor-name{
    font-family: roboto_B;
    font-size: 20px;
    padding-bottom: 15px;
    text-align: center;
    text-transform: uppercase;
    text-rendering: optimizeLegibility;
    color: #059405;
    letter-spacing: 0.1em;
    text-shadow: -1px -1px 1px rgb(0, 0, 0), 2px 2px 1px #363636;
}
.sponsor-logo{
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    height: 300px;
}
.Begadi .sponsor-logo{
    width: 100%;
}
.Softairstore .sponsor-logo{
    width: 100%;
    
}
.Begadi{
    margin-left: 5px;
    /* background-color: rgb(100, 88, 88); */
}
.sponsor-text{
    margin-top: 15px;
    color: rgb(170, 170, 170);
    
}
.sponsor-text p{
    font-family: roboto_L;
    margin-top: 5px;
}

.index_sonstiges{
    margin-top: 50px;
    display: flex;
    flex-flow: column;
}
.sonstiges-ash{
    display: flex;
    flex-flow: row;
}
.ash-logo{
    width: 259px;
    height: 300px;
}
.ash-text{
    color: rgb(170, 170, 170);
    width: 100%;
}
.ash-text p{
    font-family: roboto_L;
    margin-top: 5px;
}
.ash-text a{
    color: rgb(170, 170, 170);
    text-decoration: none;
    font-family: roboto_B;
}
