@font-face{
    font-family: roboto_L;
    src:url("../Roboto/Roboto-Light.ttf");
}
@font-face{
    font-family: roboto_B;
    src:url("../Roboto/Roboto-Bold.ttf");
}
.PersonalData-Box{
    display: flex;
    flex-flow: column;
    align-items: center;
}
.Data-Box{
    display: flex;
    flex-flow: column;
    width: 1000px;
    border: 1px solid rgba(129, 129, 129, 0.541);
    border-radius: 15px;
    margin-bottom: 25px;
    padding: 5px;
    /* box-shadow:  5em 1em rgba(112, 112, 112, 0.541); */
    box-shadow: 5px 10px 18px rgba(112, 112, 112, 0.541);
    /* box-shadow: 2px 2px 2px 1px rgba(122, 134, 233, 1.705); */
}
.Data-Titel{
    display: flex;
    flex-flow: row;
    font-family: roboto_B;
    color: rgb(129, 129, 129);
    margin-left: 15px;
    margin-bottom: 15px;

}
.Data-Titel h2{
    font-size: 30px;
    letter-spacing: 1px;
    margin-bottom: 15px;
}
/*Ab hier löschen*/

.löschen-button{
    font-family: roboto_B;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 120px;
    height: 25px;
    border: 1px solid red;
    border-radius: 5px;
    background-color: transparent;
    margin-right: 10px;
    margin-left: auto;
    margin-top: 10px;
}
.löschen-button:hover{
    border: 1px solid red;
    color: white;
    /* background-color: rgba(247, 109, 109, 0.596); */
    cursor: pointer;
}
.löschenPopUpContainer{
    display: none;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0px;
    z-index: 10;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.527); /* Black w/ opacity */
}
.löschen-PopUp{
    display: none;
    margin-top: 200px;
    display: flex;
    background:rgb(48, 48, 48);
    flex-flow: column;
    width: 450px;
    height: 400px;
    border: 1px solid red;
    border-radius: 10px;
    box-shadow: 5px 10px 18px rgba(248, 118, 118, 0.541);
}
.PopUp-kopf{
  
    display: flex;
    flex-flow: row;
    align-items: center;
    height: 50px;
}
.PopUp-kopf p{
    font-family: roboto_B;
    margin-left: 10px;
    font-weight: bold;
}
.PopUp-schließen{
    margin-left: auto;
    margin-right: 15px;
    width: 27px;
    height: 27px; 
}
.PopUp-schließen svg{
    fill:  rgb(158, 158, 158);
}
.PopUp-schließen svg:hover{
    cursor: pointer;
    fill: darkgreen;
    /* background-color: greenyellow; */
}
.löschen-warnung{
    display: flex;
    flex-flow: row;
    height: 50px;
    align-items: center;
    border-top: 1px solid darkgoldenrod;
    border-bottom: 1px solid darkgoldenrod;
    background-color: rgba(240, 240, 74, 0.801);
    color: rgb(136, 24, 24);
}
.löschen-warnung p{
    margin-left: 10px;
    font-family: roboto_B;
}
.löschen-text p{
    font-family: roboto_L;
    margin-left: 10px;
}
.löschen-aufforderung p{
    font-family: roboto_L;
    margin-left: 10px;

}

.löschen-eingabe{
    font-family: roboto_L;
    font-size: medium;
    letter-spacing: 1px;
    border: 1px solid black;
    /* width: 424px; */
    height: 25px;
    margin-left: 10px;
    margin-right: 10px;
    background-color: rgb(109, 109, 109);
    color: white;
   
}
.löschen-eingabe:hover{
    border: 1px solid white;
    background-color: rgba(184, 208, 252, 0.438);
}
.löschen-eingabe:focus{
    border: 1px solid rgb(124, 247, 99);
    background-color: rgba(184, 208, 252, 0.438);
}
.löschenPopUp form{
    display: flex;
    justify-content: center;
    justify-items: center;
    
}
.löschen-fkbutton{
    display: flex;
    align-content: center; 
    justify-content: center;
    font-family: roboto_B;
    font-size: medium;
    margin-top: 15px;
    margin-bottom: 15px;
    border: 1px solid rgb(77, 77, 77);
    margin-left: 10px;
    /* margin-right: 10px; */
    height: 25px;
    width: 430px;
   
    color: rgb(243, 31, 31);
    background-color: rgba(63, 63, 63, 0.699);
    opacity: 30%;
}
.löschen-fkbutton:hover{
    cursor: not-allowed;
    opacity: 30%;

}



/*Ab hier Profil*/
.Data-Überschrift{
    display: flex;
    flex-flow: column;
    font-family: roboto_B;
    color: rgb(129, 129, 129);
    margin-left: 15px;
    margin-bottom: 15px;
}
.Data-Überschrift h2{
    font-size: 30px;
    letter-spacing: 1px;
    margin-bottom: 15px;
}
.PresonalData{
    display: flex;
    flex-flow: column;
}
.header{
    display: flex;
    flex-flow: row;

}
.header-Bild-Bild{
    margin-left: 15px;
    max-width: 300px;
    border-radius: 5px;
}
.Profil_Bild_ändern{
    margin-left: 15px;
}
.upload{
    margin-left: 15px;
    color: green;
}
.header-Info {
    margin-left: 5px;
    font-family: roboto_L;
    color: rgb(129, 129, 129);
   
}
.Info-Box{
    display: flex;
    flex-flow: row;
    border-bottom: 1px solid rgba(97, 97, 97, 0.637) ;
    margin-bottom: 10px;
    margin-left: 15px;
}
.PersonalData-Name{
    font-family: roboto_B;
    color: rgb(129, 129, 129);
    display: flex;
    align-items: center;
    width: 150px;
    text-transform: uppercase;
    font-size: 13px;   
}
.PersonalData-Info{
    font-family: roboto_L;
    color: rgb(170, 170, 170);
    display: flex;
    align-items: center;
    font-size:20px;  
    width: 300px;
}
.sichtbar{
    font-family: roboto_B;
    color: red;
    font-size: large;
}
.Info-SVG{
    margin-left: auto;
    margin-right: 25px;
    cursor: pointer;
    width: 30px;
    height: 25px;
    background-color: transparent;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 80%;
    background-image: url("../Bilder/SVG/edit.svg");
    margin-bottom: 1px;
}
.update{
    display: flex;
    flex-flow: row;
}
.info-neu{
    display: none;
    margin-top: 10px;
    flex-flow: row;
    margin-left: 15px;
}
.info-input-text{
    width: 160px;
    display: flex;
    flex-flow: column-reverse;
   
    margin-right: 5px;
}
.info-input-text input{
    font-family: roboto_B;
    margin-left: 1px;
    font-size: 16px;
    height: 25px;
    border: none;
    border-bottom: 1px solid #b3b3b3;
    background: none;
    outline: none;
    color: rgb(129, 129, 129);
    padding: 0px;
}
.info-input-text label{
    font-family: roboto_B;
    color: rgb(161, 161, 161);
    font-size: 12px;
    padding: 0;
}
.info-input-text input:placeholder-shown + label {
    opacity: 0;
    font-size: 10px;
    color: white;
}
.hint-text-Profil{
	display: block;
	margin-top: 2px;
	/* margin-left: 35px; */
	font-size: 15px;
	color: orange;
	
	height: 14px;
	/* width: 400px; */
}

.info-button-update{
    margin-top: 10px;
    margin-left: auto;
    margin-right: 25px;

}
.info-button-update button{
    
    cursor: pointer;
    width: 30px;
    height: 25px;
    border: none;
    background-color: transparent;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 80%;
    background-image: url("../Bilder/SVG/aktualisierung.svg");
    outline: none;
}

.p_nichtangemeldet{
    text-align: center;
    display: block;
    width:400px;
    margin-left: 40%;
    margin-top: 100px;
    background: radial-gradient(circle, #555555, #535353, #4e4e4e,#4c4c4c);
    border-radius: 10px;
}
.p_nichtangemeldet .user-input{
    text-align: center;
    margin-top: 25px;
    width: 80%;
    height: 30px;
    border: none;
    outline: none;
    color: white;
    background: none;
    font-size: 15px;
    font-family: roboto_B;
    border-bottom: 1px solid #b3b3b3;
}
.p_signin-button{
    margin-top: 20px;
    outline: none;
    border: none;
    cursor: pointer;
    width: 80%;
    height: 60px;
    border-radius: 5px;
    font-size: 25px;
    color: white;
    text-align: center;
    letter-spacing: 1px;
    background: radial-gradient(circle, #24cfaa, #26c5a3, #29b294, #2aa88d);
    box-shadow: 1px 1px 2px rgba(0,0,0,0.1);
    margin-bottom: 5px;
}
.p_signin-button:hover{
    background: radial-gradient(circle, #f19114, #ec9421, #ce7e15, #f1ae55);
}